.sprite.attack.Healer.masc {
  background-image: url('../assets/healer_a_attack.png');
}

.sprite.attack.Healer.femme {
  background-image: url('../assets/healer_b_attack.png');
}

.sprite.attack.Magician.masc {
  background-image: url('../assets/magician_a_attack.png');
}

.sprite.attack.Magician.femme {
  background-image: url('../assets/magician_b_attack.png');
}

.sprite.attack.Ninja.masc {
  background-image: url('../assets/ninja_a_attack.png');
}

.sprite.attack.Ninja.femme {
  background-image: url('../assets/ninja_b_attack.png');
}

.sprite.attack.Warrior.masc {
  background-image: url('../assets/warrior_a_attack.png');
}

.sprite.attack.Warrior.femme {
  background-image: url('../assets/warrior_b_attack.png');
}

.sprite.attack.Ranger.masc {
  background-image: url('../assets/ranger_a_attack.png');
}

.sprite.attack.Monk.masc {
  background-image: url('../assets/monk_a_attack.png');
}

.sprite.attack.Ranger.femme {
  background-image: url('../assets/ranger_b_attack.png');
}

.sprite.attack.Monk.femme {
  background-image: url('../assets/monk_b_attack.png');
}
