.sprite.attack {
  --iw: calc(var(--width) * 4);
  --ih: calc(var(--height) * 4);
}

.sprite.attack.healer.masc {
  background-image: url('../assets/healer_a_attack.png');
}

.sprite.attack.healer.femme {
  background-image: url('../assets/healer_b_attack.png');
}

.sprite.attack.magician.masc {
  background-image: url('../assets/magician_a_attack.png');
}

.sprite.attack.magician.femme {
  background-image: url('../assets/magician_b_attack.png');
}

.sprite.attack.ninja.masc {
  background-image: url('../assets/ninja_a_attack.png');
}

.sprite.attack.ninja.femme {
  background-image: url('../assets/ninja_b_attack.png');
}

.sprite.attack.warrior.masc {
  background-image: url('../assets/warrior_a_attack.png');
}

.sprite.attack.warrior.femme {
  background-image: url('../assets/warrior_b_attack.png');
}

.sprite.attack.ranger.masc {
  background-image: url('../assets/ranger_a_attack.png');
}

.sprite.attack.monk.masc {
  background-image: url('../assets/monk_a_attack.png');
}

.sprite.attack.ranger.femme {
  background-image: url('../assets/ranger_b_attack.png');
}

.sprite.attack.monk.femme {
  background-image: url('../assets/monk_b_attack.png');
}
