@import url('./gameconsole');

.party-list {
  align-content: space-evenly;
  background-color: LightGray;
  display: flex;
  flex-wrap: wrap;
  height: 32em; /* match container (index.css main) */
  justify-content: space-evenly;
  padding: 2em;
}

.party-add {
  margin: 1em 2em;
  max-width: 10em;
  padding: .75em;
  width: 100%;
}

.party-edit {
  background-color: WhiteSmoke;
  border-radius: .25em;
  color: Black;
  margin: 1em;
  max-width: 10em;
  padding: 1em;
}

.party-portrait {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2px;
}
