@import url('./css/bootstrap');
@import url('./css/party');
@import url('./css/portrait');
@import url('./css/sprite');

input, select {
  margin: 1px 0;
  width: 100%;
}

select {
  background-color: inherit;
  border: none;
  color: inherit;
}
