* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.spinnerContainer {
  margin: 20% auto;
  max-width: 15%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

main {
  max-width: 600px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
  background-color: #ccc;
}

@media (max-width: 768px) {
  .spinnerContainer {
    margin: 250px auto 0 auto;
    max-width: 30%;
  }
}

@media (max-width: 425px) {
  main {
    max-width: 90%;
  }

  .spinnerContainer {
    margin: 250px auto 0 auto;
    max-width: 40%;
  }
}

@media (max-width: 375px) {
  main {

  max-width: 95%;
  }
  .app-header {

  font-size: 20px;
  }
  .spinnerContainer {
    margin: 250px auto 0 auto;
    max-width: 45%;
  }
}

@media (max-width: 320px) {
  main {
    max-width: 95%;
  }

  .app-header {
    font-size: 18px;
  }

  .spinnerContainer {
    margin: 250px auto 0 auto;
    max-width: 50%;
  }
}
