.portrait {
  background-size: 72px 72px;
  image-rendering: pixelated;
  width: 72px;
  height: 72px;
}

.portrait.Warrior.masc {
  background-image: url('./assets/warrior_a_face_update.png');
  /*background-position-x: -32px;*/
  /*background-position-y: -72px;*/
}

.portrait.Magician.masc {
  background-image: url('./assets/magician_a_face_update.png');
}

.portrait.Healer.masc {
  background-image: url('./assets/healer_a_face_update.png');
}

.portrait.Ninja.masc {
  background-image: url('./assets/ninja_a_face_update.png');
}

.portrait.Ranger.masc {
  background-image: url('./assets/ranger_a_face_update.png');
}

.portrait.Monk.masc {
  background-image: url('./assets/monk_a_face_update.png');
}

.portrait.Warrior.femme {
  background-image: url('./assets/warrior_b_face_update.png');
}

.portrait.Magician.femme {
  background-image: url('./assets/magician_b_face_update.png');
}

.portrait.Healer.femme {
  background-image: url('./assets/healer_b_face_update.png');
}

.portrait.Ninja.femme {
  background-image: url('./assets/ninja_b_face_update.png');
}

.portrait.Ranger.femme {
  background-image: url('./assets/ranger_b_face_update.png');
}

.portrait.Monk.femme {
  background-image: url('./assets/monk_b_face_update.png');
}
